@page "/playlist"

<div class="playlist-page">

    <div class="page-header">
        <h1>Our Bops 🎵</h1>
        <p>some of our favourite bops</p>
    </div>

    <div class="playlist-embed-wrapper">
        <iframe src="https://open.spotify.com/embed/playlist/3aCyKj8g7LH37LsCG6o5r0"
                height="600"
                frameborder="0"
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy">
        </iframe>
    </div>

</div>