@inject NavigationManager Nav

<ul class="nav-links">
    <li>
        <NavLink href="/" Match="NavLinkMatch.All" @onclick="LinkClicked">
            <span class="nav-icon">🏠</span> Home
        </NavLink>
    </li>
    <li>
        <NavLink href="/timeline" @onclick="LinkClicked">
            <span class="nav-icon">📅</span> Our Timeline
        </NavLink>
    </li>
    <li>
        <NavLink href="/memory-map" @onclick="LinkClicked">
            <span class="nav-icon">🗺️</span> Memory Map
        </NavLink>
    </li>
    <li>
        <NavLink href="/daily-messages" @onclick="LinkClicked">
            <span class="nav-icon">💌</span> Daily Messages
        </NavLink>
    </li>
    <li>
        <NavLink href="/pets" @onclick="LinkClicked">
            <span class="nav-icon">🐾</span> Our Pets
        </NavLink>
    </li>
    <li>
        <NavLink href="/countdown" @onclick="LinkClicked">
            <span class="nav-icon">✨</span> Countdown
        </NavLink>
    </li>
    <li>
        <NavLink href="/playlist" @onclick="LinkClicked">
            <span class="nav-icon">🎵</span> Our Playlist
        </NavLink>
    </li>
    <li>
        <NavLink href="/bucket-list" @onclick="LinkClicked">
            <span class="nav-icon">🌍</span> Bucket List
        </NavLink>
    </li>
    <li>
        <NavLink href="/inside-jokes" @onclick="LinkClicked">
            <span class="nav-icon">😄</span> Inside Jokes
        </NavLink>
    </li>
</ul>

@code {
    [Parameter] public EventCallback OnLinkClicked { get; set; }

    private async Task LinkClicked()
    {
        await OnLinkClicked.InvokeAsync();
    }
}